*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.root {
    font-size: 62.5%;
}

.menu {
    background-color: #232323;
    color: white;
    padding: 2rem;
}

.hamburger{
    position: relative;
}

.hamburger input[type='checkbox'] {
    position: relative;
    width : 50px;
    height: 40px;
    opacity: 0%;
    z-index: 3;
}

.hamburger .lines {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50px;
    height: 40px;
    /* checkbox should be relative to get z-index  */
    z-index: 2;
}

.lines .line {
    border: 4px solid #fff;
    margin-bottom: .5rem;
    transition: all .5s ease-in-out;
}

/* these were also getting transition if we add it with :checked */
.on-off ~ .lines .line1{
    transform-origin: left top;
}

.on-off ~ .lines .line3 {
    transform-origin: left bottom;
}

.on-off:checked ~ .lines .line1 {
    transform-origin: left top;
    transform: rotate(45deg);
}

.on-off:checked ~ .lines .line2 {
    opacity: 0%;
}

.on-off:checked ~ .lines .line3 {
    transform-origin: left bottom;
    transform: rotate(-45deg);
}

.menu-items {
    transform: translate(-30%, 0);
    opacity: 0%;
    transition: all .5s ease-in-out;
}

ul {
    margin-top : 1rem;
}

ul li{
    list-style : none;
    padding: 1rem 0rem;
}

.on-off:checked ~ .menu-items {
    transform: none;
    opacity: 100%;
}