@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 18px;
}

body {
    background-color: hsla(255, 88%, 90%, 0.205);
    height: 110vh;
    width: 100vw;
    font-family: "DM Sans", sans-serif;
}

.grid {
    max-width: 1200px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10, 4rem);
    gap: 1.5rem;
    /* border: 2px solid red; */
}

.items {
    border-radius: 1rem;
    /* border : 2px solid blue; */
}

/* debugging  */

/* .items > * {
    display: none;
} */

.items-1 {
    grid-column: span 1;
    grid-row: span 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1.5em;
    background-color: hsl(31, 66%, 93%);
}

.items-1 .text {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 500;
}

.items-1 .text span {
    color: hsl(256, 67%, 59%);
}

.items-1 .image {
    margin-top: 1em;
    width: 100%;
}

.items-2 {
    grid-column: span 2;
    grid-row: span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3em;
    background-color: hsl(256, 67%, 59%);
    color: white;
}

.items-2 h1 {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 600;
}

.items-2 h1 span{
    color: hsl(39, 100%, 71%);
}

.items-2 .image {
    margin-top: 1.5em;
    width: 50%;
    align-self: center;
}

.items-2 .text {
    margin-top: .5em;
    font-size: 1.2rem;
}

.items-3 {
    grid-column: span 1;
    grid-row : span 7;
    padding: 2.5rem 0;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: hsl(254, 88%, 90%);
}

.items-3 h2{
    font-size: 2rem;
    line-height: 1;
    font-weight: 500;
}

.items-3 .image {
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: top left;
    margin-top: 1.5rem;
}

.items-3 .text {
    font-size: 1.1rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    text-align: left;
    line-height: 1;
}

.items-4 {
    grid-column: span 1;
    grid-row : span 3;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.items-4 .image {
    flex-grow: 2;
    width: 100%;
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: top left;
}

.items-4 .text {
    flex-grow: 5;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    padding-right: 1.5rem;
}
 
.items-5 {
    grid-column: span 1;
    grid-row : span 3;
    background-color: hsl(39, 100%, 71%);
    padding: 0px 1.5rem;
    display: flex;
    flex-direction: column;
}

.items-5 .text {
    flex-grow: 2;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    padding-top: 1.5rem;
}

.items-5 .image {
    flex-shrink: 3;
    width: 100%;
    height: 35%;
    object-fit: cover;
    object-position: top;
}

.items-6 {
    grid-column: span 1;
    grid-row: span 5;
    padding: 1.5rem;
    padding-right: 1rem;
    background-color: hsl(39, 100%, 71%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items-6 .text {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 500;
    height: 40%;
}

.items-6 .image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.items-7 {
    grid-column: span 1;
    grid-row : span 3;
    padding : 1.5rem;
    background-color: white;
}

.items-7 h1 {
    font-size: 3rem;
    font-weight: 600;
}

.items-7 .text {
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.items-7 .image {
    width: 100%;
}


.items-8 {
    grid-column: span 2;
    grid-row: span 3;
    display: flex;
    padding: 2rem;
    background-color: hsl(256, 67%, 59%);
    align-items: center;
}

.items-8 .image {
    width: 50%;
    object-fit: cover;
}

.items-8 .text {
    width: 50%;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: white;
}


@media(max-width:700px){
    :root {
        font-size: 14px;
    }

    body {
        background-color: hsla(255, 88%, 90%, 0.205);
        font-family: "DM Sans", sans-serif;
    }

    .grid {
        max-width: 400px;
        width: 90%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }

    .items {
        border-radius: 1rem;
        grid-column: span 1;
        grid-row: span 1;
    }

    .items-2 {
        order: 1;
    }

    .items-2 .image {
        width: 70%;
    }

    .items-4 {
        order: 2;
        padding : 1.5rem;
    }

    .items-5 {
        order: 3;
    }

    .items-5 .image {
        padding-top: 1rem;
        width: 70%;
    }

    .items-3 {
        padding: 1.5rem;
        order: 4;
    }

    .items-3 .text {
        font-size: 1.5rem;
        text-align: center;
    }

    .items-8 {
        order: 5;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
    }

    .items-8 .image, .items-8 .text {
        width: 100%;
        margin-bottom: 1rem;
    }

    .items-8 .text {
        font-size: 2.5rem;
        text-align: center;
    }

    .items-7 {
        padding: 1.5rem;
        order: 6;
    }

    .items-7 h1 {
        font-size: 5rem;
    }

    .items-7 .text {
        font-size: 1.5rem;
    }

    .items-7 .image {
        width: 80%;
    }

    .items-1 {
        order: 7;
    }

    .items-6 {
        padding: 1.5rem;
        order: 8;
    }

    .items-6 .text {
        margin-bottom: 2rem;
    }
}

