@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    font-size: 55.56%;
}

body {
    background-color: hsla(255, 88%, 90%, 0.205);
    height: 110vh;
    width: 100vw;
    font-family: "DM Sans", sans-serif;;
}

.grid {
    max-width: 1200px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10, 5rem);
    gap: 1.8rem;
}

.items {
    border-radius: 1rem;
}

.items-1 {
    grid-column: span 1;
    grid-row: span 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 2rem;
    background-color: hsl(31, 66%, 93%);
}

.items-1 .text {
    font-size: 2.7rem;
    line-height: 1;
    font-weight: 500;
}

.items-1 .text span {
    color: hsl(256, 67%, 59%);
}

.items-1 .image {
    margin-top: 1.5em;
    width: 100%;
}

.items-2 {
    grid-column: span 2;
    grid-row: span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3.2rem;
    background-color: hsl(256, 67%, 59%);
    color: white;
}

.items-2 h1 {
    font-size: 3.6rem;
    line-height: 1;
    font-weight: 600;
}

.items-2 h1 span{
    color: hsl(39, 100%, 71%);
}

.items-2 .image {
    margin-top: 1em;
    width: 50%;
    align-self: center;
}

.items-2 .text {
    margin-top: .5em;
    font-size: 1.2rem;
}

.items-3 {
    grid-column: span 1;
    grid-row : span 7;
    padding: 3rem 0;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    background-color: hsl(254, 88%, 90%);
}

.items-3 h2{
    font-size: 2.4rem;
    line-height: 1;
    font-weight: 500;
    flex-grow: 1;
}

.items-3 .image {
    width: 100%;
    object-fit: cover;
    object-position: top left;
    flex-grow: 4;
}

.items-3 .text {
    flex-grow: 2;
    font-size: 1.3rem;
    padding-top: 2rem;
    padding-right: 1rem;
    text-align: left;
    line-height: 1.2;
}

.items-4 {
    grid-column: span 1;
    grid-row : span 3;
    padding-left: 1.5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.items-4 .image {
    flex-grow: 2;
    width: 100%;
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: top left;
}

.items-4 .text {
    flex-grow: 5;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    padding-right: 2rem;
}
 
.items-5 {
    grid-column: span 1;
    grid-row : span 3;
    background-color: hsl(39, 100%, 71%);
    padding: 0px 1.5rem;
    display: flex;
    flex-direction: column;
}

.items-5 .text {
    flex-grow: 2;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    padding-top: 2rem;
}

.items-5 .image {
    flex-shrink: 3;
    width: 100%;
    height: 35%;
    object-fit: cover;
    object-position: top;
}

.items-6 {
    grid-column: span 1;
    grid-row: span 5;
    padding: 1.5rem;
    padding-right: 1rem;
    background-color: hsl(39, 100%, 71%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items-6 .text {
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
    height: 40%;
}

.items-6 .image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}


.items-7 {
    grid-column: span 1;
    grid-row : span 3;
    padding : 1rem 2rem;
    background-color: white;
}

.items-7 h1 {
    font-size: 4rem;
    font-weight: 500;
}

.items-7 .text {
    font-size: 1.2rem;
    margin-bottom: 1.8em;
}

.items-7 .image {
    width: 100%;
}


.items-8 {
    grid-column: span 2;
    grid-row: span 3;
    display: flex;
    padding: 2rem;
    background-color: hsl(256, 67%, 59%);
    align-items: center;
}

.items-8 .image {
    width: 50%;
    object-fit: cover;
}

.items-8 .text {
    width: 50%;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1;
    color: white;
}