@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    font-size: 1rem;
}
:root {
--cyan-600: hsl(192, 37%, 48%);
--cyan-300: hsl(192, 90%, 77%);
--purple-600: hsl(268, 34%, 53%);
--white: hsl(0, 0%, 98%);
--purple-300: hsl(268, 100%, 86%);
--slate-900: hsl(240, 21%, 20%);
--slate-600: hsl(240, 10%, 57%);
--slate-300: hsl(240, 18%, 85%);
}


body{
    font-family: "Red Hat Display", sans-serif;
    letter-spacing: 0;
    line-height: 1.1; 
    min-height: 100vh;
    background-color: var(--white);
}

.text-white {
    color: var(--white);
}

.text-slate-900 {
    color: var(--slate-900);
}

.text-slate-600 {
    color: var(--slate-600);
}

.text-cyan-300 {
    color: var(--cyan-300);
}

.text-cyan-600 {
    color: var(--cyan-600);
}

.bg-purple-600 {
    background-color: var(--purple-600);
}

.bg-cyan-600 {
    background-color: var(--cyan-600);
}

.text-preset-1 {
  font-weight: 900;        
  font-size: 2.5rem;
}
.text-preset-2 {
  font-weight: 900;        
  font-size: 2rem;  
}
.text-preset-3 {       
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
  font-weight: 900;
}
.text-preset-4 {    
    font-weight: 500;
  font-size: 1.125rem;
}
.text-preset-5 {    
    font-weight: 900;
    font-size: 1rem;   
    line-height: 1.5;   
}

nav {
    display: flex;
    justify-content: center;
    /* works on corss axis */
    align-items: end; 
    padding-inline : 5rem;
    padding-block-start : 3rem;
}

.hero {
    padding-block-end: 2rem;
    padding-block-start: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    overflow: hidden;
}

.hero .left, .hero .right {
    display: none;
}

.hero .center {
    object-fit: cover;
    object-position: center;
    height: 10rem;
}

.hero .content {
    padding-inline : 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-block-start: .5rem;
}

.frame {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 1.8125rem;
    color: white;
}


/* ################### counter #################### */

.counter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 3.5rem;
    height: 8.5rem;
}

.counter .line {
    width: .0625rem;
    height: 5rem;
    background-color: var(--slate-300);
}

.counter .circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: .0625rem solid var(--slate-300);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--slate-600);
    background-color: var(--white);
}

/* ################# main section #################### */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-block-start: 4rem;
    padding-block-end: 2rem;
    padding-inline : 2rem;
    gap: 4rem;
}

.client {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
}

.client img {
    height: 9rem;
    border-radius: .5rem;
}

main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

main .content h3 {
    text-transform: uppercase;
}

/* ################ footer #################### */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .counter {
    transform: translateY(1.75rem);
    z-index: 2;
}

footer .content {
    padding-inline: 2rem;
    padding-block: 4rem;
    background-image: linear-gradient(hsla(192, 37%, 48%, 0.9),hsla(192, 37%, 48%, 0.9)), url(./assets/desktop/image-footer.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}



/* ################################ tablet ################################## */

@media (min-width: 48rem){

    .text-preset-1{
        font-size: 3rem;
    }
    .text-preset-2{
        font-size: 2.25rem;
    }
    .text-preset-3{
        font-size: 0.875rem;
    }
    .text-preset-4{
        font-size: 1rem;
    }

    .hero {
        padding-block: 4rem;
        gap: 4.5rem;
    }

    .hero .center{
        height: 18.9375rem;
    }

    .hero .content {
        width: 31.5rem;
    }

    .hero .frame {
        flex-direction: row;
        gap: .5rem;
    }
    /* ####### main section ############## */

    main .client{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,1fr);
        gap: 1rem;
    }

    main .content {
        width: 28.01875rem;
    }
    /* ###### footer ###### */
    footer .content {
        background-image: linear-gradient(hsla(192, 37%, 48%, 0.9),hsla(192, 37%, 48%, 0.9)), url(./assets/tablet/image-footer.jpg);
    }
    footer .content {
        width: 100%;
    }

    footer .content  h2, footer .content  p{
        width: 31.5rem;
    }
}

@media (min-width: 90rem){
    .text-preset-1{
        font-size: 4rem;
    }
    .text-preset-2{
        font-size: 2.5rem;
    }
    .text-preset-3{
        font-size: 1rem;
    }
    .text-preset-4{
        font-size: 1.125rem;
    }

    footer .content {
        gap: 2rem;
        flex-direction: row;
        justify-content: space-evenly;
    }

    main{
        padding-block-start: 3.5rem;
        padding-block-end: 4.5rem;
        padding-inline: 5rem;
    }

    main .client img{
        height: 16rem;
        border-radius: 2rem;
    }

    main .content {
        width: 34rem;
    }

    footer .content{
        padding-inline: 5rem;
        padding-block: 5rem;
        background-image: linear-gradient(hsla(192, 37%, 48%, 0.9),hsla(192, 37%, 48%, 0.9)),url("./assets/desktop/image-footer.jpg");
    }

    .hero .content {
        padding-inline : 0;
    }

    .hero .frame {
        gap: 2rem;
    }
}