*,
*::after,
*::before {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color : rgb(214, 167, 167);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.color {
    padding: 1rem 2rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.change-color {
    padding: .7rem 1.5rem;
    font-size : 1.2rem;
    border-radius: 2rem;
    background-color: rgb(106, 228, 236);
}