@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font-primary: "Rubrik", sans-serif;
    /* ========== Neutrals (from previous palette) ========== */
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);

    --clr-grey-500: hsl(219, 13%, 44%);
    /* #626C7F */
    --clr-grey-50: hsl(220, 38%, 97%);
    /* #F4F6FA */

    --clr-blue-950: hsl(214, 24%, 23%);
    /* #2D3949 */
    --clr-blue-900: hsl(216, 25%, 25%);
    /* #313E51 */
    --clr-blue-850: hsl(215, 27%, 32%);
    /* #3B4D66 */

    /* ========== Blue Scale ========== */
    --clr-blue-500: hsl(223, 100%, 59%);
    /* #306AFF */
    --clr-blue-300: hsl(216, 47%, 78%);
    /* #ABC1E1 */
    --clr-blue-100: hsl(220, 50%, 95%);
    /* #EDF1F9 */
    --clr-blue-50: hsl(225, 100%, 96%);
    /* #EBF0FF */

    /* ========== Green Scale ========== */
    --clr-green-500: hsl(151, 68%, 52%);
    /* #2FD887 */
    --clr-green-100: hsl(151, 88%, 94%);
    /* #E0FDEF */

    /* ========== Purple Scale ========== */
    --clr-purple-600: hsl(277, 91%, 56%);

    --clr-purple-300: hsla(277, 91%, 56%, 0.5);
    /* #A729F5 */
    --clr-purple-100: hsl(278, 100%, 95%);
    /* #F6E7FF */

    /* ========== Orange Scale ========== */
    --clr-orange-400: hsl(22, 100%, 60%);
    /* #FF7E35 */
    --clr-orange-50: hsl(27, 100%, 96%);
    /* #FFF5ED */

    --clr-red-500: hsl(0, 82%, 63%);
}

/* ######################## item ######################### */
.item-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.item-box .item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 1rem;
}

.item-image {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--clr-purple-100);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .5rem;
}

.item-text {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    color: var(--clr-blue-900);
}

/* ############################ button ############################ */
.btn {
    width: 100%;
    padding: 1rem;
    margin-block-start: 1rem;
    border: none;
    outline: none;
    background-color: var(--clr-purple-600);
    color: var(--clr-white);
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn:hover {
    background-color: var(--clr-purple-300);
}

/*########################### error text ###########################*/
.error-text {
    padding :1rem;
    margin-block-start: 1rem;
    color: var(--clr-red-500);
    text-align: center;
    align-self: center;
    overflow: visible;
}

.error-text::before {
    padding : 1.25rem;
    align-self: center;
    content: "";
    background-image: url(./assets/images/icon-incorrect.svg);
    background-repeat: no-repeat;
    background-position: -.25rem .5rem;
}



body {
    font-family: var(--font-primary);
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: var(--clr-grey-50);
    background-image: url(./assets/images/pattern-background-mobile-light.svg);
    background-position: center;
    background-size: cover;
}

.container {
    width: 100%;
    padding: 0rem 1.5rem;
}

.nav-bar {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

/* ######################### theme toggle button  #######################*/

.nav-toggler {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.nav-toggler img {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-button {
    width: 2rem;
    height: 20px;
    border-radius: 1.5rem;
    padding: .25rem;
    background-color: var(--clr-purple-600);
}

.nav-button .circles {
    display: flex;
}

.nav-button .circle {
    width: 12px;
    height: 12px;
    border-radius: 10rem;
}

.bg-white {
    background-color: var(--clr-white);
}

/* ######################## main section ########################## */

.main {
    padding: 2rem 0
}

.main .item-box {
    width: 100%;
    background-color: var(--clr-white);
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid transparent;
    /* border: 2px solid black; */
}

/* ######################## main page ############################ */

.main-page {
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1;
    letter-spacing: 0;
    color: var(--clr-blue-900);
}

.subheading {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 0;
    color: var(--clr-blue-900);
    padding-block-start: .5rem;
}

.option-text {
    font-size: .875rem;
    color: var(--clr-grey-500);
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0;
    padding-block-start: 1rem;
}

.options {
    margin-block-start: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-page .item-box:nth-of-type(1) .item-image{
    background-color: var(--clr-orange-50);
    background-image: url(./assets/images/icon-html.svg);
}

.main-page .item-box:nth-of-type(2) .item-image{
    background-color: var(--clr-green-100);
    background-image: url(./assets/images/icon-css.svg);
}

.main-page .item-box:nth-of-type(3) .item-image{
    background-color: var(--clr-blue-50);
    background-image: url(./assets/images/icon-js.svg);
}

.main-page .item-box:nth-of-type(4) .item-image{
    background-color: var(--clr-purple-100);
    background-image: url(./assets/images/icon-accessibility.svg);
}

.quiz-page .item-box:hover {
    border: 2px solid var(--clr-purple-600);
}


/* ####################### quiz page ################# */

.quiz-page .item-box:hover {
    border: 2px solid var(--clr-purple-600)
}

.quiz-page .item-box.correct {
    border: 2px solid var(--clr-green-500);
}

.quiz-page .item-box.correct-icon {
    background-image: url(./assets/images/icon-correct.svg);
    background-repeat: no-repeat;
    background-position: 98%;
}

.quiz-page .item-box.correct .item-image {
    background-color: var(--clr-green-500);
    color: white;
}

.quiz-page .item-box.incorrect {
    border: 2px solid var(--clr-red-500);
    background-image: url(./assets/images/icon-incorrect.svg);
    background-repeat: no-repeat;
    background-position: 98%;
}

.quiz-page .item-box.incorrect .item-image{
    background-color: var(--clr-red-500);
    color: white;
}

.quiz-page .item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background : none;
    font-weight: 600;
    color: var(--clr-grey-500);
    background-color: var(--clr-grey-50);
}

.quiz-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question {
    margin-block-end: 1rem;
}

.question-text {
    font-size: 1.3rem;
    font-weight: 550;
    line-height: 1.2;
    margin-block-end: 1.5rem;
    color: var(--clr-blue-900);
}

.bar {
    border : 3px solid var(--clr-white);
    background-color: var(--clr-white);
    padding: .1rem;
    border-radius: .4rem;
}

.bar .completion {
    border: 4px solid var(--clr-purple-600);
    border-radius: .4rem;
    width: 10%;
}

/* ######################## result-page ###################### */

.result-page .item-box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap : .5rem;
}

.result-page .correct-count {
    font-size: 5.5rem;
    color: var(--clr-blue-900);
    font-weight: 600;
}

.result-page .total {
    font-size: 1.2rem;
    font-style: normal;
}

/* these properties needs higher presidence so added at end will overrride others */
.hide {
    visibility: hidden;
}

.remove {
    display: none;
}

/* ############################# dark theme coloring ############################## */



body.dark {
    background-color: var(--clr-blue-900);
    background-image: url(./assets/images/pattern-background-mobile-dark.svg);
}

.dark .main .item-box {
    background-color: var(--clr-blue-850);
}

.dark .item-text {
    color: var(--clr-white);
}

.dark .option-text {
    color : var(--clr-blue-300);
}

.dark .heading,.dark .subheading,.dark .question-text {
    color: white;
}

.dark .quiz-page .item-image {
    background-color: var(--clr-blue-50);
}

.dark .bar {
    border : 3px solid var(--clr-blue-850);
    background-color: var(--clr-blue-850);
}

.dark .bar .completion {
    border: 4px solid var(--clr-purple-600);
    border-radius: .4rem;
    width: 10%;
}

.dark .result-page .correct-count {
    color: white;
}
