
@import url('https://fonts.googleapis.com/css2?family=Young+Serif:wght@400&family=Outfit:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&display=swap');

:root {
    font-size : 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* ############################################ utility classes #################################### */

/* - White: hsl(0, 0%, 100%)

- Stone 100: hsl(30, 54%, 90%)
- Stone 150: hsl(30, 18%, 87%)
- Stone 600: hsl(30, 10%, 34%)
- Stone 900: hsl(24, 5%, 18%)

- Brown 800: hsl(14, 45%, 36%)

- Rose 800: hsl(332, 51%, 32%)
- Rose 50: hsl(330, 100%, 98%) */

.text-white{
    color : hsl(0, 0%, 100%);
}

.text-stone-100{
    color : hsl(30, 54%, 90%);
}

.text-stone-150{
    color : hsl(30, 18%, 87%);
}

.text-stone-600{
    color : hsl(30, 10%, 34%);
}

.text-stone-900{
    color : hsl(24, 5%, 18%);
}

.text-brown-800{
    color : hsl(14, 45%, 36%);
}

.text-rose-800{
    color : hsl(332, 51%, 32%);
}

.bg-rose-50{
    background-color : hsl(330, 100%, 98%);
}


/* 
H1 ---> already having 700
 */

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

h3, p {
    font-family: "Outfit", sans-serif;
}

h1 {
    font-size : 3.8rem;
}

h2 {
    font-size : 2.8rem;
}

h3 {
    font-size : 2rem;
    font-weight: 600;
}

p, li {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

li {
    margin: 1rem 2.4rem;
    padding-left: 1.2rem;
    /* border: 2px solid black; */
}

li::marker {
    font-size: 1.4rem;
    color : hsl(14, 45%, 36%);
    font-weight: 700;
}

body {
    /* nothing on left right, but top bottom pedding is required */
    background-color: hsl(30, 54%, 90%);
}

main {
    background-color: hsl(0, 0%, 100%);
    padding: 4.8rem;
    width: 40%;
    margin: 20rem auto;
    border-radius: 2.8rem;
}

/* header now has width without any paddding, as it's taken by main so image can take 100% */

.omelette {
    width: 100%;
    border-radius: 1.6rem;
}

.header-content {
    margin-top : 3.2rem;
}

.header-content h1 {
    padding: 1.6rem 0;
}

.preparation {
    border-radius: 1.6rem;
    padding: 2.8rem;
}

.preparation, .ingredient, .instruction ,.nutrition {
    margin-top: 3.2rem;
    /* border: 2px solid black; */
}

.ingredient, .instruction {
    padding-bottom: 2rem;
    border-bottom: 2px solid hsl(30, 18%, 87%);
}

.table {
    /* border: 2px solid red; */
    font-size: 1.6rem;
    padding-top : 2rem;
}

.table .row {
    padding: 1.6rem 3.2rem;
    border-bottom : 2px solid hsl(30, 18%, 87%)
}

.table .cell-left {
    /* border: 2px solid violet; */
    float: left;
    width: 50%;
}

.table .cell-right {
    /* border: 2px solid pink; */
    float: right;
    width: 50%;
    font-weight: 700;
}

.table .row::after{
    content: "";
    display: block;
    clear: both;
}

.table .row:last-of-type {
    border-bottom: none;
}

@media(max-width:700px){
    body {
        /* nothing on left right, but top bottom pedding is required */
        padding: 0;
        margin: 0;
    }
    main {
        padding: 0;
        margin: 0;
        border-radius: 0px;
        width : 100%;
    }
    .box {
        padding: 0 2rem;
    }
    .omelette{
        border-radius: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .header-content{
        margin: 0px;
    }
}