
@import url('https://fonts.googleapis.com/css2?family=Young+Serif:wght@400&family=Outfit:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

li{
    text-indent: 1rem;
    margin : 10px 40px;
}

li::marker{
    color : hsl(332, 51%, 32%);
    font-size : .8rem;
}

body {
    background-color: hsl(30, 54%, 90%);
}
main {
    font-family: 'Arial', sans-serif;
    color: #333;
    width: 50%;
    margin: 200px auto;
    background-color: white;
    border-radius: 20px;
    padding : 50px;  
}

.omelette{
    border-radius: 10px;
    width: 100%;
    height: auto;
}

h1{
    font-size : 2.5rem;
    margin : 20px 0;
    font-weight: normal;
    font-family: 'Young Serif', serif;
}

.text-content {
    line-height: 1.5;
    font-size: 1.1rem;
    color : hsl(30, 10%, 34%);
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 20px;
    padding : 20px;
    font-size: large;
    margin : 20px 0px;
}

.preparation h3{
    color : hsl(332, 51%, 32%);
    margin: 15px;
    font-weight: 600;
}

.instruction, .ingredient, .nutrition {
    padding : 20px 0px;
    margin : 20px 0px;
}

.ingredient h2, .instruction h2, .nutrition h2{
    color : hsl(14, 45%, 36%);
    margin: 20px 0px;
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Young Serif', serif;
    
}

.ingredient, .instruction {
    border-bottom: 2px solid hsl(30, 18%, 87%);
}

.nutrition ul {
    list-style-type: none;
    margin-top: 10px;
    display: block;
    border: 2px solid red;
}

.nutrition li {
    display: inline-block;
    width : 50%;
    border: 2px solid blue;
    margin: 0px;
}