* {
    padding: 0;
    margin : 0;
    box-sizing : border-box;
}

body {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    height : 100vh;
}

button {
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    transition: all .4s;
}

body button:hover {
    border: 2px solid black;
    box-shadow: 0x 0px 50px rgba(0, 0, 0, 0.466);
}